.navbar {
  background-color: #fa8334;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  color: lightgrey;
}

#search-form button {
  background-color: #fa8334;
  border: none;
}

#offcanvasDarkNavbar {
  background-color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  color: #333;
  text-decoration: none;
}

/*-- CSS DO FOOTER --*/

footer {
  flex-shrink: 0;
  background-color: #fa8334;
  padding: 20px;
}

.social-icons {
  text-align: right;
}

.social-icons a {
  color: #fff;
}

.social-icons a {
  margin: 5px;
}

.social-icons a:hover {
  background-color: #fa8334;
}