body {
    margin: 0;
}

main {
    min-height: calc(100vh - 100px);
    padding: 5em;
}

.header-resumo {
    text-align: center;
}

.footer-compra {
    position: relative;
    margin-top: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
}

main .page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 30px;
}

main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main .content section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

main .content aside {
    min-width: 250px;
}

button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 3px solid #eee;
}

table thead tr th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}

table tbody tr {
    border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
    border: 0;
}

table tbody tr td {
    padding: 30px 0;
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product img {
    border-radius: 6px;
}

.product .info {
    margin-left: 20px;
}

.product .info .name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .info .category {
    color: #666;
}

.qty {
    background: #eee;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.qty span {
    margin: 0 10px;
}

.qty button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}

.qty button:hover {
    background: #ddd;
}

.remove {
    background: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}

.remove:hover {
    background: #ddd;
}

@media (max-width: 720px) {
    main {
        padding: 5em 1em;
    }
}


@media (max-width: 720px) {
    main .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .content aside {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;  
    }

    .product {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .product img {
        margin-bottom: 10px;
        max-width: 150px;
        /* Diminui o tamanho da foto */
    }

    .product .info {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .product td:nth-child(2),
    .product td:nth-child(4) {
        font-size: 14px;
        text-align: center;
    }

    .qty {
        margin-top: 10px;
    }

    .qty span {
        margin: 0 5px;
    }

    table thead tr th,
    table tbody tr td {
        font-size: 14px;
    }

   
    aside .box {
        margin-top: 20px;
    }

    aside {
        margin-right: 57px;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .product .info {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    .product-description {
        margin-top: 5px;
    }

    .price-column {
        text-align: center;
        font-size: 14px;
    }
}


aside {
    margin-left: 30px;
}

aside .box {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
}

aside .header-resumo {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #fa8334;
}

aside .box .info {
    padding: 20px;
    font-size: 16px;
}

aside .box .info>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}

aside .box .info>div:last-child {
    margin: 0;
}

aside .box .info button {
    color: #28a745;
    background: transparent;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
}

aside .box footer {
    padding: 15px 20px;
    background: #ddd;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#btn-fincompra {
    border: 0;
    padding: 15px 0;
    color: lightgray;
    background: #28a745;
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}

#btn-fincompra:hover {
    background: #3bc55b;
    color: #fff;
}

#btn-fincompra a:hover {
    background: #3bc55b;
}