body {
    margin: 0;
}

main {
    min-height: calc(100vh - 100px);
    padding: 5em;
}

#grid-computadores {
    display: flex;
    align-items: center;
    justify-content: center; 
}

#titulo-computadores {
    display: flex;
    margin-top: 10vh;
}

.card {
    position: relative;
}

.card-body {
    background-color: aliceblue;
}