body {
  margin: 0;
}

main {
  min-height: calc(100vh - 100px);
  padding: 5em;
}

.navbar {
  background-color: #fa8334;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  color: lightgrey;
}

#search-form button {
  background-color: #fa8334;
  border: none;
}

#offcanvasDarkNavbar {
  background-color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  color: #333;
  text-decoration: none;
}

.header-fincompra {
  background-color: #fa8334;
  height: 30px;
}

aside .header-fin {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #fa8334;
}

.btn-primary:hover {
  background-color: #fa8334;
}

@media (max-width: 480px) {
  .carousel-img {
    height: 200px;
  }
}

.header-fin {
  text-align: center;
}

.payment-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-option img {
  margin-top: 5px; 
}

.pix-logo {
  width: 112px;
  height: 63px;
}

.payment-option input[type="radio"] {
  position: relative;
  left: -27px;
  top: 2px;
}

aside>button {
  border: 0;
  padding: 15px 0;
  color: lightgray;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside>button:hover {
  background: #3bc55b;
  color: #fff;
}

aside>button a:hover {
  background: #3bc55b;
}

.confirmar-compra {
  text-decoration: none;
}