body {
    margin: 0;
}

main {
    min-height: calc(100vh - 100px);
    padding: 5em;
}

@media (max-width: 720px) {
    .expanded-carousel {
        width: 150%;
        margin-left: -3.6em; 
      }
}

/* @media (max-width: 720px) {
    #cat-prod {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-left: -1px;
        margin-right: -1px;
      }
      
      #cat-prod.row {
        gap: 0;
      }
      
      .card {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin: 0;
        max-width: 200px;
      }
      
      .card-img-top {
        max-height: 150px;
      }
    } */

.btn-primary:hover {
    background-color: #fa8334;

}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.card {
    position: relative;
}

.card-body {
    background-color: aliceblue;
}