body {
    margin: 0;
}

#grid-perifericos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#titulo-perifericos {
    display: flex;
    margin-top: 10vh;
}